h1, .note-header {
    font-family: "Courier 10 Pitch", sans-serif;
    color: #15130f;
    margin-left: 0.5em;
}

h1 {
    margin-top: -0.2em;
    margin-bottom: 0.9em;
}

body {
    padding: 2em;
    background-color: #f96a04;
}

button {
    border:none;
}

#add-note-btn {
    background-color: #373e30;
    padding: 1em;
    border-radius: 5px;
    color: #fff;
    margin-left: 1em;
}

#add-note-btn:hover{
    background-color: #e79663;
    color: darkred;
}

.delete-button {
    background-color: transparent;
    width: 2em;
}

#container {
    padding-top: 2em;
}

.div-box {
    height: 6em;
    width: 15em;
    background-color: #a9a79f;
    margin-left: 1em;
    margin-bottom: 1em;
    border-bottom: solid #4e443c 0.5em;
    border-right: solid #4e443c 0.5em;
    border-radius: 0.4em;
    display: inline-block;
}

.title-box, .note-header {
    padding: 0.0005em;
}

.title-box {
    width: 14.99em;
    background-color: #87897d;
    display: flex;
    flex-direction: row;
}

.note-header {
    font-size: 14px;
    margin-top: 0.2em;
    width: 15em;
    height: 2em;
    background-color: transparent;
}

textarea {
    border:none;
    color: black;
    resize: none;
}

.text {
    background-color: #a9a79f;

}

.text {
    width: 19em;
    margin-left: 0.6em;
}

